# Module 5 Homework - Cleaning Up the MoMA Artwork 

In this lab, you will put your Pandas data cleaning skills to the test by cleaning up the MoMA artwork csv file.  Solve each of the following problems using the functions from `dfply`.  

For each problem, perform two steps.

1. Explore the specified column using the techniques from the last lecture.
2. Fix all issues found in part 1.

**Note that I will be looking for a literate, easy to follow, set of code and markdown cells.**  Part of your score will be determined by the cleanliness/conciseness of your presentation.

Where possible, solve each problem with one pipe.

In [50]:
import pandas as pd
from dfply import *
artwork = pd.read_csv("./data/Artworks.csv")

## Problem 1
    
**Task:** Explore the values of `artist.EndDate` and fix any issues.

In [51]:
artwork.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)'],
      dtype='object')

In [52]:
# Functional variant
fix_name = lambda name: name.replace(' ', '_').replace('(', '').replace(')', '').replace('.', '')
new_names = {fix_name(old_name):old_name for old_name in artwork.columns}

In [53]:
artwork=(artwork >>
  rename(**new_names)
)
artwork.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference_cm,Depth_cm,Diameter_cm,Height_cm,Length_cm,Weight_kg,Width_cm,Seat_Height_cm,Duration_sec
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

Dates have brckets around them we need to remove them, and after we separate will have have to turn them into integers.

In [54]:
artwork.EndDate.unique

<bound method Series.unique of 0                    (1918)
1                       (0)
2                    (1957)
3                       (0)
4                    (1957)
                ...
138146    (0) (1934) (1933)
138147               (1943)
138148               (1943)
138149               (1943)
138150               (1943)
Name: EndDate, Length: 138151, dtype: object>

In [55]:
artwork = (artwork >>
          mutate(EndDate_fixed = X.EndDate.str.replace('[()]',''))
          )
artwork.head()

/home/pc7482yh/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/dfply/base.py:82: FutureWarning: The default value of regex will change from True to False in a future version.
  **_context_kwargs(kwargs)(x)),

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Circumference_cm,Depth_cm,Diameter_cm,Height_cm,Length_cm,Weight_kg,Width_cm,Seat_Height_cm,Duration_sec,EndDate_fixed
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN,1918
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN,0
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN,1957
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN,0
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN,1957

In [56]:
artwork['EndDate_fixed'] = artwork['EndDate_fixed'].astype(str)

Created names for columns for the largest group that needed to be split and will create that amount of columns to split off of.

In [57]:
EndDates1 = ['EndDates{0}'.format(artist) for artist in range(31)]
EndDates1

['EndDates0',
 'EndDates1',
 'EndDates2',
 'EndDates3',
 'EndDates4',
 'EndDates5',
 'EndDates6',
 'EndDates7',
 'EndDates8',
 'EndDates9',
 'EndDates10',
 'EndDates11',
 'EndDates12',
 'EndDates13',
 'EndDates14',
 'EndDates15',
 'EndDates16',
 'EndDates17',
 'EndDates18',
 'EndDates19',
 'EndDates20',
 'EndDates21',
 'EndDates22',
 'EndDates23',
 'EndDates24',
 'EndDates25',
 'EndDates26',
 'EndDates27',
 'EndDates28',
 'EndDates29',
 'EndDates30']

In [58]:
artwork_fixed_endDate = (artwork 
 >> separate(X.EndDate_fixed, EndDates1,remove = False,convert=True, extra='merge',fill='right')
 >> select(X.EndDate_fixed, X.EndDates0,X.EndDates1)
)
artwork_fixed_endDate.head(10)

  EndDate_fixed EndDates0  EndDates1
0          1918      1918        NaN
1             0         0        NaN
2          1957      1957        NaN
3             0         0        NaN
4          1957      1957        NaN
5             0         0        NaN
6             0         0        NaN
7             0         0        NaN
8             0         0        NaN
9             0         0        NaN

In [59]:
artwork_fixed_endDate

       EndDate_fixed EndDates0  EndDates1
0               1918      1918        NaN
1                  0         0        NaN
2               1957      1957        NaN
3                  0         0        NaN
4               1957      1957        NaN
...              ...       ...        ...
138146   0 1934 1933         0     1934.0
138147          1943      1943        NaN
138148          1943      1943        NaN
138149          1943      1943        NaN
138150          1943      1943        NaN

[138151 rows x 3 columns]

In [60]:
max(artwork.EndDate_fixed,key=len)

'0 1985 1979 1981 1965 1961 1989 1980 2002 1990 1956 2000 1973 1988 1985 0 2003 2013 1995 1971 1975 1994 1992 1981 1974 2002 1961 1943 1984 1997 1965'

## Problem 2
    
**Task:** Fix the issues with `artwork.Gender`

In [61]:
artwork.Gender.unique

<bound method Series.unique of 0                   (Male)
1                   (Male)
2                   (Male)
3                   (Male)
4                   (Male)
                ...
138146    () (Male) (Male)
138147            (Female)
138148            (Female)
138149            (Female)
138150            (Female)
Name: Gender, Length: 138151, dtype: object>

In [62]:
artwork = (artwork >>
          mutate(Gender_stripped = X.Gender.str.replace('[()]',''))
          )
artwork.head()

/home/pc7482yh/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/dfply/base.py:82: FutureWarning: The default value of regex will change from True to False in a future version.
  **_context_kwargs(kwargs)(x)),

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Depth_cm,Diameter_cm,Height_cm,Length_cm,Weight_kg,Width_cm,Seat_Height_cm,Duration_sec,EndDate_fixed,Gender_stripped
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN,1918,Male
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN,0,Male
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN,1957,Male
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN,0,Male
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN,1957,Male

We know the most amount of people to work on a piece of artwork in our data set (31) so we have our max columns to make. We created a column of gender for each artist and will separarte them into apporpriate columns.

In [63]:
Gender = ['Gender{0}'.format(Gender) for Gender in range(31)]
Gender

['Gender0',
 'Gender1',
 'Gender2',
 'Gender3',
 'Gender4',
 'Gender5',
 'Gender6',
 'Gender7',
 'Gender8',
 'Gender9',
 'Gender10',
 'Gender11',
 'Gender12',
 'Gender13',
 'Gender14',
 'Gender15',
 'Gender16',
 'Gender17',
 'Gender18',
 'Gender19',
 'Gender20',
 'Gender21',
 'Gender22',
 'Gender23',
 'Gender24',
 'Gender25',
 'Gender26',
 'Gender27',
 'Gender28',
 'Gender29',
 'Gender30']

In [64]:
artwork['Gender_stripped'] = artwork['Gender_stripped'].astype(str)

In [65]:
(artwork 
    >> separate(X.Gender_stripped, Gender, remove=False, convert=True, extra='merge',fill ='right')
    >> select(X.Gender_stripped,X.Gender0,X.Gender1)
)

       Gender_stripped Gender0 Gender1
0                 Male    Male     NaN
1                 Male    Male     NaN
2                 Male    Male     NaN
3                 Male    Male     NaN
4                 Male    Male     NaN
...                ...     ...     ...
138146       Male Male     NaN    Male
138147          Female  Female     NaN
138148          Female  Female     NaN
138149          Female  Female     NaN
138150          Female  Female     NaN

[138151 rows x 3 columns]

## Problem 3
    
**Task:** Fix the issues with `artwork.BeginDate` and `artwork.EndDate`.  Note that you will want to convert to `.astype('int64')` at the end of the expression.

In [66]:
artwork = (artwork 
           >> mutate(BeginDate_fixed = X.BeginDate.str.replace('[()]',''))
           >> mutate(EndDate_fixed = X.EndDate.str.replace('[()]','')) 
          )
artwork.head()

/home/pc7482yh/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/dfply/base.py:82: FutureWarning: The default value of regex will change from True to False in a future version.
  **_context_kwargs(kwargs)(x)),
/home/pc7482yh/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/dfply/base.py:82: FutureWarning: The default value of regex will change from True to False in a future version.
  **_context_kwargs(kwargs)(x)),

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Diameter_cm,Height_cm,Length_cm,Weight_kg,Width_cm,Seat_Height_cm,Duration_sec,EndDate_fixed,Gender_stripped,BeginDate_fixed
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN,1918,Male,1841
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN,0,Male,1944
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN,1957,Male,1876
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN,0,Male,1944
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN,1957,Male,1876

In [67]:
artwork['EndDate_fixed'] = artwork['EndDate_fixed'].astype(str)
artwork['BeginDate_fixed'] = artwork['BeginDate_fixed'].astype(str)

In [68]:
EndDates = ['EndDates{0}'.format(artist) for artist in range(31)]
BeginDates = ['BeginDates{0}'.format(artist) for artist in range(31)]

In [69]:
(artwork 
 >> separate(X.BeginDate_fixed, BeginDates,remove = False,convert=True, extra='merge',fill='right')
 >> separate(X.EndDate_fixed, EndDates,remove = False,convert=True, extra='merge',fill='right')
 >> select(X.BeginDate_fixed,X.EndDate_fixed,X.BeginDates0,X.EndDates0,X.BeginDates1,X.EndDates1)
)

,BeginDate_fixed,EndDate_fixed,BeginDates0,EndDates0,BeginDates1,EndDates1
0,1841,1918,1841,1918,NaN,NaN
1,1944,0,1944,0,NaN,NaN
2,1876,1957,1876,1957,NaN,NaN
3,1944,0,1944,0,NaN,NaN
4,1876,1957,1876,1957,NaN,NaN
...,...,...,...,...,...,...
138146,0 1861 1860,0 1934 1933,0,0,1861.0,1934.0
138147,1889,1943,1889,1943,NaN,NaN
138148,1889,1943,1889,1943,NaN,NaN
138149,1889,1943,1889,1943,NaN,NaN
138150,1889,1943,1889,1943,NaN,NaN

In [70]:
artwork[EndDates] = artwork[EndDates].apply(pd.to_numeric,errors = 'coerce')
artwork[BeginDates] = artwork[BeginDates].apply(pd.to_numeric,errors = 'coerce')

KeyError: "None of [Index(['EndDates0', 'EndDates1', 'EndDates2', 'EndDates3', 'EndDates4',\n       'EndDates5', 'EndDates6', 'EndDates7', 'EndDates8', 'EndDates9',\n       'EndDates10', 'EndDates11', 'EndDates12', 'EndDates13', 'EndDates14',\n       'EndDates15', 'EndDates16', 'EndDates17', 'EndDates18', 'EndDates19',\n       'EndDates20', 'EndDates21', 'EndDates22', 'EndDates23', 'EndDates24',\n       'EndDates25', 'EndDates26', 'EndDates27', 'EndDates28', 'EndDates29',\n       'EndDates30'],\n      dtype='object')] are in the [columns]"

In [ ]:
artwork[EndDates].describe

## Problem 4
    
**Task:** Use `value_counts` to identify some issues with `artwork.Artist` and `artwork.Nationality`.  Discuss some strategies to solve these issues.  Do your best to clean these columns up.

The Artist column has people with multiple names, as well as multiple people in a single cell. We will have to split the people up but make sure we keep all the person's names together. All of the Nationalities are in the same cell too, so we will have to split those up as well.

In [71]:
artwork = (artwork >>
          mutate(Nationality_fixed = X.Nationality.str.replace('[()]',''))
          )
artwork.head(10)

/home/pc7482yh/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/dfply/base.py:82: FutureWarning: The default value of regex will change from True to False in a future version.
  **_context_kwargs(kwargs)(x)),

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Height_cm,Length_cm,Weight_kg,Width_cm,Seat_Height_cm,Duration_sec,EndDate_fixed,Gender_stripped,BeginDate_fixed,Nationality_fixed
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,48.6000,NaN,NaN,168.9000,NaN,NaN,1918,Male,1841,Austrian
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,40.6401,NaN,NaN,29.8451,NaN,NaN,0,Male,1944,French
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,34.3000,NaN,NaN,31.8000,NaN,NaN,1957,Male,1876,Austrian
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,50.8000,NaN,NaN,50.8000,NaN,NaN,0,Male,1944,
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,38.4000,NaN,NaN,19.1000,NaN,NaN,1957,Male,1876,Austrian
5,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photograph,...,35.6000,NaN,NaN,45.7000,NaN,NaN,0,Male,1944,
6,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photographs,...,35.6000,NaN,NaN,45.7000,NaN,NaN,0,Male,1944,
7,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photograph,...,35.6000,NaN,NaN,45.7000,NaN,NaN,0,Male,1944,
8,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photograph,...,35.6000,NaN,NaN,45.7000,NaN,NaN,0,Male,1944,
9,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photograph,...,35.6000,NaN,NaN,45.7000,NaN,NaN,0,Male,1944,

In [72]:
artwork['Nationality_fixed'] = artwork['Nationality_fixed'].astype(str)

In [73]:
Nationality = ['Nationality{0}'.format(artist) for artist in range(31)]

In [74]:
(artwork 
 >> separate(X.Nationality_fixed, Nationality,remove = False,convert=True, extra='merge',fill='right')
 >> select(X.Nationality_fixed, X.Nationality0,X.Nationality1,X.Nationality2)
)

         Nationality_fixed Nationality0 Nationality1 Nationality2
0                 Austrian     Austrian          NaN          NaN
1                   French       French          NaN          NaN
2                 Austrian     Austrian          NaN          NaN
3                                   NaN          NaN          NaN
4                 Austrian     Austrian          NaN          NaN
...                    ...          ...          ...          ...
138146   American American          NaN     American     American
138147               Swiss        Swiss          NaN          NaN
138148               Swiss        Swiss          NaN          NaN
138149               Swiss        Swiss          NaN          NaN
138150               Swiss        Swiss          NaN          NaN

[138151 rows x 4 columns]

In [75]:
(artwork
 >> select(X.Artist)
)

                                                   Artist
0                                             Otto Wagner
1                                Christian de Portzamparc
2                                              Emil Hoppe
3                                         Bernard Tschumi
4                                              Emil Hoppe
...                                                   ...
138146  Chesnutt Brothers Studio, Andrew Chesnutt, Lew...
138147                                 Sophie Taeuber-Arp
138148                                 Sophie Taeuber-Arp
138149                                 Sophie Taeuber-Arp
138150                                 Sophie Taeuber-Arp

[138151 rows x 1 columns]

In [76]:
artwork = (artwork 
           >> mutate(Artist_half_fixed = X.Artist.str.replace(' ','').str.replace('-',''))
           >> mutate(Artist_fixed = X.Artist_half_fixed.str.replace(',',' '))
          )
artwork

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Weight_kg,Width_cm,Seat_Height_cm,Duration_sec,EndDate_fixed,Gender_stripped,BeginDate_fixed,Nationality_fixed,Artist_half_fixed,Artist_fixed
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,168.900000,NaN,NaN,1918,Male,1841,Austrian,OttoWagner,OttoWagner
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,29.845100,NaN,NaN,0,Male,1944,French,ChristiandePortzamparc,ChristiandePortzamparc
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,NaN,31.800000,NaN,NaN,1957,Male,1876,Austrian,EmilHoppe,EmilHoppe
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,NaN,50.800000,NaN,NaN,0,Male,1944,,BernardTschumi,BernardTschumi
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,NaN,19.100000,NaN,NaN,1957,Male,1876,Austrian,EmilHoppe,EmilHoppe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138146,Untitled,"Chesnutt Brothers Studio, Andrew Chesnutt, Lew...","133005, 133006, 133007","(American, 1861–1934) (American, 1860–1933)",() (American) (American),(0) (1861) (1860),(0) (1934) (1933),() (Male) (Male),c. 1890,Gelatin silver print,...,NaN,16.510033,NaN,NaN,0 1934 1933,Male Male,0 1861 1860,American American,"ChesnuttBrothersStudio,AndrewChesnutt,LewisChe...",ChesnuttBrothersStudio AndrewChesnutt LewisChe...
138147,Plate (folio 2 verso) from Muscheln und schirm...,Sophie Taeuber-Arp,5777,"(Swiss, 1889–1943)",(Swiss),(1889),(1943),(Female),1939,One from an illustrated book with four line bl...,...,NaN,10.000000,NaN,NaN,1943,Female,1889,Swiss,SophieTaeuberArp,SophieTaeuberArp
138148,Plate (folio 6) from Muscheln und schirme (She...,Sophie Taeuber-Arp,5777,"(Swiss, 1889–1943)",(Swiss),(1889),(1943),(Female),1939,One from an illustrated book with four line bl...,...,NaN,10.000000,NaN,NaN,1943,Female,1889,Swiss,SophieTaeuberArp,SophieTaeuberArp
138149,Plate (folio 12) from Muscheln und schirme (Sh...,Sophie Taeuber-Arp,5777,"(Swiss, 1889–1943)",(Swiss),(1889),(1943),(Female),1939,One from an illustrated book with four line bl...,...,NaN,10.000000,NaN,NaN,1943,Female,1889,Swiss,SophieTaeuberArp,SophieTaeuberArp
138150,Plate (folio 16) from Muscheln und schirme (Sh...,Sophie Taeuber-Arp,5777,"(Swiss, 1889–1943)",(Swiss),(1889),(1943),(Female),1939,One from an illustrated book with four line bl...,...,NaN,10.000000,NaN,NaN,1943,Female,1889,Swiss,SophieTaeuberArp,SophieTaeuberArp

In [77]:
artwork['Artist_fixed'] = artwork['Artist_fixed'].astype(str)

In [78]:
Artist = ['Artist{0}'.format(artist) for artist in range(31)]

In [79]:
artwork.Artist.value_counts()

Eugène Atget                         5050
Louise Bourgeois                     3336
Unknown photographer                 2734
Ludwig Mies van der Rohe             2645
Jean Dubuffet                        1435
                                     ...
The Nichemakers, Raymond Pettibon       1
Max Kahn                                1
Charles Baldwin                         1
Key Hiraga                              1
Nina Bovasso                            1
Name: Artist, Length: 13684, dtype: int64

In [80]:
artwork=(artwork 
 >> mutate(Artist_fixed = X.Artist_fixed.str.replace('ChristiandePortzamparc', 'ChristianDePortzamparc'))
 >> mutate(Artist_fixed = X.Artist_fixed.str.replace('Unknownphotographer ', 'UnknownPhotographer '))
 >> mutate(Artist_fixed = X.Artist_fixed.str.replace('LudwigMiesvanderRohe  ', 'LudwigMiesVanDerRohe  '))
)

In [81]:
artwork=(artwork 
 >> separate(X.Artist_fixed, Artist,remove = False,convert=True, extra='merge',fill='right')
)
artwork.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Artist21,Artist22,Artist23,Artist24,Artist25,Artist26,Artist27,Artist28,Artist29,Artist30
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
split_names = lambda string: re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', string)

In [83]:
artist_columns = contains('Artist').evaluate(artwork)
artist_columns[4:]

['Artist0',
 'Artist1',
 'Artist2',
 'Artist3',
 'Artist4',
 'Artist5',
 'Artist6',
 'Artist7',
 'Artist8',
 'Artist9',
 'Artist10',
 'Artist11',
 'Artist12',
 'Artist13',
 'Artist14',
 'Artist15',
 'Artist16',
 'Artist17',
 'Artist18',
 'Artist19',
 'Artist20',
 'Artist21',
 'Artist22',
 'Artist23',
 'Artist24',
 'Artist25',
 'Artist26',
 'Artist27',
 'Artist28',
 'Artist29',
 'Artist30']

In [84]:
artist_columns = artist_columns[4:]

In [85]:
artwork[artist_columns] = artwork[artist_columns].astype(str)

In [86]:
artist_names = {'{0}'.format(names):X[names].apply(split_names)
               for names in artist_columns}
artist_names

{'Artist0': <dfply.base.Intention at 0x7f4e5618c410>,
 'Artist1': <dfply.base.Intention at 0x7f4e5618c150>,
 'Artist2': <dfply.base.Intention at 0x7f4e5618d090>,
 'Artist3': <dfply.base.Intention at 0x7f4e5618d350>,
 'Artist4': <dfply.base.Intention at 0x7f4e5618d610>,
 'Artist5': <dfply.base.Intention at 0x7f4e5618d8d0>,
 'Artist6': <dfply.base.Intention at 0x7f4e5618db90>,
 'Artist7': <dfply.base.Intention at 0x7f4e5618de50>,
 'Artist8': <dfply.base.Intention at 0x7f4e5618e150>,
 'Artist9': <dfply.base.Intention at 0x7f4e5618e490>,
 'Artist10': <dfply.base.Intention at 0x7f4e5618e7d0>,
 'Artist11': <dfply.base.Intention at 0x7f4e5618eb10>,
 'Artist12': <dfply.base.Intention at 0x7f4e5618ee50>,
 'Artist13': <dfply.base.Intention at 0x7f4e561911d0>,
 'Artist14': <dfply.base.Intention at 0x7f4e56191510>,
 'Artist15': <dfply.base.Intention at 0x7f4e56191850>,
 'Artist16': <dfply.base.Intention at 0x7f4e56191b90>,
 'Artist17': <dfply.base.Intention at 0x7f4e56191ed0>,
 'Artist18': <dfply.base.Intention at 0x7f4e56192250>,
 'Artist19': <dfply.base.Intention at 0x7f4e56192590>,
 'Artist20': <dfply.base.Intention at 0x7f4e561928d0>,
 'Artist21': <dfply.base.Intention at 0x7f4e56192c10>,
 'Artist22': <dfply.base.Intention at 0x7f4e56192f50>,
 'Artist23': <dfply.base.Intention at 0x7f4e561942d0>,
 'Artist24': <dfply.base.Intention at 0x7f4e56194610>,
 'Artist25': <dfply.base.Intention at 0x7f4e56194950>,
 'Artist26': <dfply.base.Intention at 0x7f4e56194c90>,
 'Artist27': <dfply.base.Intention at 0x7f4e56194fd0>,
 'Artist28': <dfply.base.Intention at 0x7f4e73c997d0>,
 'Artist29': <dfply.base.Intention at 0x7f4e71462090>,
 'Artist30': <dfply.base.Intention at 0x7f4e741d6610>}

In [87]:
artwork=(artwork
 >> mutate(**artist_names)
)

In [88]:
(artwork
 >> select(X.Artist_fixed,X.Artist0,X.Artist1,X.Artist2))

,Artist_fixed,Artist0,Artist1,Artist2
0,OttoWagner,Otto Wagner,nan,nan
1,ChristianDePortzamparc,Christian De Portzamparc,nan,nan
2,EmilHoppe,Emil Hoppe,nan,nan
3,BernardTschumi,Bernard Tschumi,nan,nan
4,EmilHoppe,Emil Hoppe,nan,nan
...,...,...,...,...
138146,ChesnuttBrothersStudio AndrewChesnutt LewisChe...,Chesnutt Brothers Studio,Andrew Chesnutt,Lewis Chesnutt
138147,SophieTaeuberArp,Sophie Taeuber Arp,nan,nan
138148,SophieTaeuberArp,Sophie Taeuber Arp,nan,nan
138149,SophieTaeuberArp,Sophie Taeuber Arp,nan,nan
138150,SophieTaeuberArp,Sophie Taeuber Arp,nan,nan

In [89]:
artwork.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference_cm', 'Depth_cm', 'Diameter_cm', 'Height_cm', 'Length_cm',
       'Weight_kg', 'Width_cm', 'Seat_Height_cm', 'Duration_sec',
       'EndDate_fixed', 'Gender_stripped', 'BeginDate_fixed',
       'Nationality_fixed', 'Artist_half_fixed', 'Artist_fixed', 'Artist0',
       'Artist1', 'Artist2', 'Artist3', 'Artist4', 'Artist5', 'Artist6',
       'Artist7', 'Artist8', 'Artist9', 'Artist10', 'Artist11', 'Artist12',
       'Artist13', 'Artist14', 'Artist15', 'Artist16', 'Artist17', 'Artist18',
       'Artist19', 'Artist20', 'Artist21', 'Artist22', 'Artist23', 'Artist24',
       'Artist25', 'Artist26', 'Artist27', 'Artist28', 'Artist29', 'Artist30'],
      dtype='object')

## Adding the previous steps to the artwork dataset to create a cleaned table.

In [90]:
#separate Nationality
artwork=(artwork 
 >> separate(X.Nationality_fixed, Nationality,remove = False,convert=True, extra='merge',fill='right')
)
artwork.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference_cm', 'Depth_cm', 'Diameter_cm', 'Height_cm', 'Length_cm',
       'Weight_kg', 'Width_cm', 'Seat_Height_cm', 'Duration_sec',
       'EndDate_fixed', 'Gender_stripped', 'BeginDate_fixed',
       'Nationality_fixed', 'Artist_half_fixed', 'Artist_fixed', 'Artist0',
       'Artist1', 'Artist2', 'Artist3', 'Artist4', 'Artist5', 'Artist6',
       'Artist7', 'Artist8', 'Artist9', 'Artist10', 'Artist11', 'Artist12',
       'Artist13', 'Artist14', 'Artist15', 'Artist16', 'Artist17', 'Artist18',
       'Artist19', 'Artist20', 'Artist21', 'Artist22', 'Artist23', 'Artist24',
       'Artist25', 'Artist26', 'Artist27', 'Artist28', 'Artist29', 'Artist30',
       'Nationality0', 'Nationality1', 'Nationality2', 'Nationality3',
       'Nationality4', 'Nationality5', 'Nationality6', 'Nationality7',
       'Nationality8', 'Nationality9', 'Nationality10', 'Nationality11',
       'Nationality12', 'Nationality13', 'Nationality14', 'Nationality15',
       'Nationality16', 'Nationality17', 'Nationality18', 'Nationality19',
       'Nationality20', 'Nationality21', 'Nationality22', 'Nationality23',
       'Nationality24', 'Nationality25', 'Nationality26', 'Nationality27',
       'Nationality28', 'Nationality29', 'Nationality30'],
      dtype='object')

In [91]:
#Start date and end date separate
artwork=(artwork 
 >> separate(X.BeginDate_fixed, BeginDates,remove = False,convert=True, extra='merge',fill='right')
 >> separate(X.EndDate_fixed, EndDates,remove = False,convert=True, extra='merge',fill='right')
)
artwork.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium',
       ...
       'EndDates21', 'EndDates22', 'EndDates23', 'EndDates24', 'EndDates25',
       'EndDates26', 'EndDates27', 'EndDates28', 'EndDates29', 'EndDates30'],
      dtype='object', length=159)

In [92]:
artwork=(artwork 
    >> separate(X.Gender_stripped, Gender, remove=False, convert=True, extra='merge',fill ='right')
)

In [94]:
len(list(artwork.columns))

190